<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Админка | Добавление точки коворкинга</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/addPoint}" th:object="${points}">

    <label for="title">Введите название</label>
    <input type="text" th:field="*{title}" id="title">
<!--    <div th:if="${#fields.hasErrors('title')}" th:errors="*{name}"></div>-->
    <label for="description">Описание</label>
    <input type="text" th:field="*{description}" id="description">
<!--    <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>-->
    <label for="city">Город</label>
    <input type="text" th:field="*{city}" id="city">
    <label for="address">Адрес</label>
    <input type="text" th:field="*{address}" id="address">
<!--    <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>-->
    <label for="img">Картинка</label>
    <input type="text" th:field="*{img}" id="img">
<!--    <div th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>-->
    <label for="price">Цена</label>
    <input type="text" th:field="*{price}" id="price">

    <br>
    <input type="submit" value="Создать">
</form>
</body>
</html>